:root {
  --md-primary-fg-color:        #233044;
  --md-primary-fg-color--light: #233044;
  --md-primary-fg-color--dark:  #233044;
}
.md-typeset h1 {
    color: #00013a;
    font-weight: 600;
    --md-text-font: "arial";
}
.md-typeset h2 {
    color: #D82120;
    font-size: 22px;
    --md-text-font: "arial";
}
.md-typeset h3 {
    color: #D82120;
    font-size: 22px;
    --md-text-font: "arial";
}
